#!/bin/bash

# Set variables
BDJUNO_HOME="{{ .BdjunoHome }}"

# Start bdjuno
echo "Starting bdjuno..."
callisto start --home "$BDJUNO_HOME"
STATUS=$?
if [ $STATUS -ne 0 ]; then
  echo "Error: Failed to start bdjuno with status code $STATUS"
  exit $STATUS
fi

echo "bdjuno service launched successfully."
