{
  "app_name": "thornode",
  "app_version": "{{ .AppVersion }}",
  "genesis_time": "{{ .GenesisTime }}",
  "chain_id": "{{ .ChainID }}",
  "initial_height": "{{ .InitialHeight }}",
  "app_hash": null,
  "consensus": {
    "params": {
      "block": {
        "max_bytes": "{{ .BlockMaxBytes }}",
        "max_gas": "{{ .BlockMaxGas }}"
      },
      "evidence": {
        "max_age_num_blocks": "{{ .EvidenceMaxAgeNumBlocks }}",
        "max_age_duration": "{{ .EvidenceMaxAgeDuration }}",
        "max_bytes": "{{ .EvidenceMaxBytes }}"
      },
      "validator": {
        "pub_key_types": {{ .ValidatorPubKeyTypes }}
      },
      "version": {
        "app": "0"
      },
      "abci": {
        "vote_extensions_enable_height": "0"
      }
    }
  },
  "app_state": {
    "auth": {
      "params": {
        "max_memo_characters": "{{ .AuthMaxMemoCharacters }}",
        "tx_sig_limit": "{{ .AuthTxSigLimit }}",
        "tx_size_cost_per_byte": "{{ .AuthTxSizeCostPerByte }}",
        "sig_verify_cost_ed25519": "{{ .AuthSigVerifyCostEd25519 }}",
        "sig_verify_cost_secp256k1": "{{ .AuthSigVerifyCostSecp256k1 }}"
      },
      "accounts": {{ .Accounts }}
    },
    "bank": {
      "params": {
        "send_enabled": [],
        "default_send_enabled": false
      },
      "balances": {{ .Balances }},
      "supply": [],
      "denom_metadata": [],
      "send_enabled": []
    },
    "denom": {
      "admins": []
    },
    "genutil": {
      "gen_txs": []
    },
    "mint": {
      "minter": {
        "inflation": "{{ .MintInflation }}",
        "annual_provisions": "{{ .MintAnnualProvisions }}"
      },
      "params": {
        "mint_denom": "{{ .DenomName }}",
        "inflation_rate_change": "{{ .MintInflationRateChange }}",
        "inflation_max": "{{ .MintInflationMax }}",
        "inflation_min": "{{ .MintInflationMin }}",
        "goal_bonded": "{{ .MintGoalBonded }}",
        "blocks_per_year": "{{ .MintBlocksPerYear }}"
      }
    },
    "thorchain": {
      "node_accounts": {{ .NodeAccounts }},
      "reserve": "{{ .Reserve }}",
      "chain_contracts": {{ .ChainContracts }}
    },
    "upgrade": {},
    "wasm": {
      "params": {
        "code_upload_access": {
          "permission": "Everybody",
          "addresses": []
        },
        "instantiate_default_permission": "Everybody"
      },
      "codes": [],
      "contracts": [],
      "sequences": []
    },
    "transfer": {
      "params": {
        "send_enabled": false
      }
    },
    "state": {
      "accounts": [
        {
          "@type": "/cosmos.auth.v1beta1.ModuleAccount",
          "base_account": {
            "account_number": "0",
            "address": "{{ .BondModuleAddr }}",
            "pub_key": null,
            "sequence": "0"
          },
          "name": "bond",
          "permissions": []
        }
      ]
    }
  }
}